/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 50 version
*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes slideFromRight {
    from {
        -webkit-transform: translateX(+50px);
                transform: translateX(+50px);
    }

    to {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);

    }
}

@keyframes slideFromRight {
    from {
        -webkit-transform: translateX(+50px);
                transform: translateX(+50px);
    }

    to {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);

    }
}

@-webkit-keyframes slideFromCenter {
    from {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }

    to {
        -webkit-transform: translateX(+100px);
                transform: translateX(+100px);
    }
}

@keyframes slideFromCenter {
    from {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }

    to {
        -webkit-transform: translateX(+100px);
                transform: translateX(+100px);
    }
}

/*handled by openModal and closeModal*/
.no-scroll {
    overflow: hidden;
}

.modal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 39, 156, 0.4);
    -webkit-animation: fadeIn 0.3s both;
            animation: fadeIn 0.3s both;
}

.modal[aria-hidden="true"] {
    -webkit-animation-name: fadeOut;
            animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
    -webkit-animation-name: slideFromCenter;
            animation-name: slideFromCenter;
}

.modal-wrapper {
    overflow: auto;
    width: 600px;
    max-width: -webkit-calc(100vw - 20px);
    max-width: calc(100vw - 20px);
    max-height: -webkit-calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px 35px;
    background: #DB8876;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-animation: slideFromRight 0.3s both;
            animation: slideFromRight 0.3s both;
}

.modal header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.modal__heading {
    text-align: left;
    font-size: 4rem;
    line-height: 5rem;
    color: #000000;
}

.crossBtn {

    display: inline-block;
    background: no-repeat url("../assets/icones/close.svg");
    cursor: pointer;
    border: none;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    background-size: 41px 44px;
}

.modal__form {
    width: 100%;
}

.modal__form--fields br {
    display: none;
}

.modal__form--fields {
    margin-bottom: 20px;
}

.form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2rem;
}

form div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: self-start;
    -webkit-align-items: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
}

form input, textarea {
    width: 100%;
    height: 48px;
    border: none;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.3rem;
}

textarea {
    height: 171px;
}


@media screen and (max-width: 768px) {

    .modal__heading {
        font-size: 2rem;
        line-height: 2rem;
    }

    .form label {
        font-size: 1.5rem;
    }

    .crossBtn {
        margin-top: 13px;
        height: 22px;
        width: 22px;
        background-size: 23px 21px;
    }

    .modal-wrapper {
        overflow: auto;
        width: 600px;
        max-width: -webkit-calc(90vw - 10px);
        max-width: calc(90vw - 10px);
        max-height: -webkit-calc(90vh - 10px);
        max-height: calc(90vh - 10px);
        padding: 20px 35px;
        
    }

}