@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(+50px);
    }

    to {
        transform: translateX(0px);

    }
}

@keyframes slideFromCenter {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(+100px);
    }
}

/*handled by openModal and closeModal*/
.no-scroll {
    overflow: hidden;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 39, 156, 0.4);
    animation: fadeIn 0.3s both;
}

.modal[aria-hidden="true"] {
    animation-name: fadeOut;
}

.modal[aria-hidden="true"] .modal-wrapper {
    animation-name: slideFromCenter;
}

.modal-wrapper {
    overflow: auto;
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px 35px;
    background: #DB8876;
    border-radius: 5px;
    animation: slideFromRight 0.3s both;
}

.modal header {
    display: flex;
    justify-content: space-between;
}

.modal__heading {
    text-align: left;
    font-size: 4rem;
    line-height: 5rem;
    color: #000000;
}

.crossBtn {

    display: inline-block;
    background: no-repeat url("../assets/icones/close.svg");
    cursor: pointer;
    border: none;
    margin-top: 20px;
    height: 42px;
    width: 42px;
    background-size: 41px 44px;
}

.modal__form {
    width: 100%;
}

.modal__form--fields br {
    display: none;
}

.modal__form--fields {
    margin-bottom: 20px;
}

/* ******************************************* */
.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input, textarea {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0.3rem;
}

textarea {
    height: 171px;
}


@media screen and (max-width: 768px) {

    .modal__heading {
        font-size: 2rem;
        line-height: 2rem;
    }

    .form label {
        font-size: 1.5rem;
    }

    .crossBtn {
        margin-top: 13px;
        height: 22px;
        width: 22px;
        background-size: 23px 21px;
    }

    .modal-wrapper {
        overflow: auto;
        width: 600px;
        max-width: calc(90vw - 10px);
        max-height: calc(90vh - 10px);
        padding: 20px 35px;
        
    }

}