body {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
}

/* BODY OU HTML? */

a {
    text-decoration: none;
}

.page-wrapper {

    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

header {
    max-width: 1080px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    margin: 1rem;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.logo {
    color: #901C1C;
}

.tags ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tags li {
    padding: 3px;
}

.tags a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    color: #911C1C;
    padding: 3px 5px;
    transition: 0.1s ease-in-out;
    display: block;
}

.tags a:hover {
    transform: scale(1.03);
}

/* "Nos photographes" */
h1 {
    color: #901C1C;
    white-space: nowrap;
    /* width: 306px;
    height: 47px; */
}


/* section photographers */

.photographers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 76px;
    margin-left: auto;
    margin-right: auto;
}

.photographers__cards {
    margin: 1rem;
}

/* img portrait */
.photographers__portrait {
    box-shadow: 2px 2px 2px 1px #d3d3d3;
    object-fit: cover;
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
}

.photographers__name {
    color: #D3573C;
    font-weight: 400;
}

/* paragraphs photographers__cards */
.portfolio {
    transition: 0.6s ease-in-out;
}

.portfolio :hover {
    transform: scale(1.06);
}

.photographers__infos p {
    padding: 3px;
}

.localisation {
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #901C1C;
}

.mojo {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #000000;
}

.cost {
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    color: #757575;
}

/* @media screen and (min-width: 768px) and (max-width: 1023px) {

    
} */