body {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
}

/* BODY OU HTML? */

a {
    text-decoration: none;
}

.page-wrapper {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

header {
    margin: 1rem;
}

main {
    position: relative;
}

.header__index {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;

    width: 100%;
    margin: 1rem;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 6rem;
}

.logo {
    color: #901C1C;
    width: 200px;
    height: 50px;
    margin-right: 2rem;
    /* text-align: left;*/
}

.main-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 23rem;
    flex-wrap: wrap;
}

h1 {
    color: #901C1C;
    white-space: nowrap;
}

.index-main-title {
    position: absolute;
    right: -29px;
    top: -91px;
}

.tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.tags li {
    padding: 3px;
}

.tags a {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    color: #911C1C;
    padding: 3px 5px;
    transition: 0.1s ease-in-out;
    display: block;
}

.tags a:hover {
    transform: scale(1.03);
}


/* section photographers */
.photographers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1080px;
}

.photographers__cards {
    list-style: none;
    margin-top: 1rem;
    height: 310px;
    width: 300px;
    padding: 2rem 0.5rem;
}

/* img portrait */
.photographers__portrait {
    box-shadow: 2px 2px 2px 1px #d3d3d3;
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.photographers__name {
    color: #D3573C;
    font-weight: 400;
    white-space: nowrap;
}

/* paragraphs photographers__cards */
.links__portfolio {
    display: block;
    transition: 0.3s ease-in-out;
}

.links__portfolio:hover {
    transform: scale(1.06);
}

.photographers__infos p {
    padding: 3px;
}

.localisation {
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #901C1C;
}

.mojo {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #000000;
}

.photographers__infos--portfolio .mojo {
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #525252;
}

.cost {
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    color: #757575;
}


/* /*
/*  +-+-+-+-+-+-+-+-+-+
/*  |P|O|R|T|F|O|L|I|O|
/*  +-+-+-+-+-+-+-+-+-+
/* */
.photographer-page-wrapper {
    max-width: 1280px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.header__portfolio {
    text-align: left;
    margin-bottom: 2rem;
}

.header__portfolio {
    display: flex;
    flex-direction: column;
}

.header__portfolio--wrapper {
    display: flex;
    flex-direction: row;
    background: #FAFAFA;
    border-radius: 5px;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.photographers__infos--portfolio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem;
    position: relative;
}

.photographers__infos--portfolio .localisation {
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}

.photographer__tags {
    display: flex;
}

.thumbnails__heading {
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
}

.likes-count {
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #911C1C;
}

.modal-btn {
    height: 69px;
    width: 170px;
    background: #911C1C;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 35px;
    margin-left: 20rem;
}

.fixed-contact {
    display: none;
}


/*
 +-+-+-+-+-+-+-+-+
 |D|R|O|P|D|O|N|W|
 +-+-+-+-+-+-+-+-+
*/
.dropdown-wrapper {
    display: flex;
    flex-direction: row;
}

.dropdown-wrapper span {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    margin-right: 1rem;
}

.sortBy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background: #911C1C;
    border-radius: 5px;
    width: 170px;
    height: 170px;
    justify-content: center;
}

.sortBy li {
    padding: 0.2rem;
    margin-left: 1rem;
}

.sortBy a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    border-bottom: 1px solid;
    padding: 14px;
    width: 100%;
    display: block;
}

/*
 +-+-+-+-+-+-+-+-+-+-+
 |T|H|U|M|B|N|A|I|L|S|
 +-+-+-+-+-+-+-+-+-+-+
*/
.preview__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-end;
    justify-content: space-between;
}

.thumbnails {
    margin-bottom: 3rem;
    padding: 1rem;
    height: 300px;
}

.thumbnails__img {
    width: 390px;
    height: 317px;
    border-radius: 5px;
    object-fit: cover;
}

.thumbnails__infos {
    display: flex;
    justify-content: space-between;
}

.heart {
    height: 18px;
    width: 17px;
    color: #911C1C;
    background: #FFFFFF;
}

/*
 +-+-+-+-+-+-+
 |B|u|t|t|o|n|
 +-+-+-+-+-+-+
*/

.likes-price {
    display: flex;
    background: #DB8876;
    border-radius: 5px;
    justify-content: space-between;
    width: 22rem;
    padding: 1rem;
    position: fixed;
    right: 0;
    bottom: 0;
}

.scroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 182px;
    height: 30px;
    background: #DB8876;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: -100px;
}

@media screen and (max-width: 1280px) {

    .banner {
        margin-top: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .main-nav ul {
        margin-top: 5rem;
    }

    .index-main-title {
        top: -110px;
        margin-right: 3rem;
    }

    .photographers {
        justify-content: space-evenly;
    }

    .preview__list {
        justify-content: space-evenly;
    }

}

@media screen and (max-width: 1023px) {

    .fixed-contact {
        display: inline-block;
        position: fixed;
        bottom: 35px;
        margin-left: auto;
        margin-right: auto;
        top: inherit;
        left: -50%;
        right: -50%;
        margin-bottom: 3rem;
    }

    .header-contact {
        display: none;
    }

    .likes-price {
        display: none;
    }

    .main-nav {
        margin-right: 28rem;
    }

    .photographers__infos--portfolio {
        padding: 0.4rem;
        max-width: 19rem;
    }

}


@media screen and (max-width: 768px) {

    .logo {
        position: absolute;
        width: 150px;
        height: 37.5px;
        left: 20px;
        top: 40px;
    }

    .header__portfolio--wrapper {
        background: #FFFFFF;
        margin-top: 6rem;
        padding: 0rem;
        align-items: flex-start;
    }

    .main-nav {
        margin-top: 2rem;
        margin-right: auto;
    }

    .photographers {
        justify-content: center;
    }

    .photographers__infos--portfolio .photographers__portrait {
        background: #C4C4C4;
        box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
        height: 120px;
        width: 120px;
    }

    .index-main-title {
        font-size: 25px;
        line-height: 18px;
    }

    .dropdown-wrapper {
        display: none;
    }

    .preview__list {
        justify-content: center;
    }

    .thumbnails {
        margin: 0rem;
        padding: 0rem;
        height: unset;
        margin-bottom: 1rem;
    }

}


@media screen and (max-width: 540px) {

    .index-main-title {
        top: -66px;
    }

    .photographers {
        padding-top: 4rem;
    }

    .thumbnails__img {
        width: 350px;
        height: 333px;
    }

}