<!DOCTYPE html>
<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title class="photographer-page">FishEye - Portfolio</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <div class="photographer-page-wrapper">
        <header class="header__portfolio">
            
        </header>
        <main>
            
            <section class="preview">
                <ul class="preview__list">
                    <li class="thumbnails"><a href=""><img class="thumbnails__img"
                                src="../public/Photos/Mimi/Animals_Rainbow.jpg" alt=""></a>
                        <div class="thumbnails__infos">
                            <h2 class="thumbnails__heading">Arc-en-ciel</h2>
                            <div class="likes-count">12 <img class="heart" src="../public/icones/like-filled.svg" alt="coeur"></div>
                        </div>
                    </li>
                    <li class="thumbnails"><a href=""><img class="thumbnails__img"
                                src="../public/Photos/Mimi/Travel_Lonesome.jpg" alt=""></a>
                        <div class="thumbnails__infos">
                            <h2 class="thumbnails__heading">Arc-en-ciel</h2>
                            <div class="likes-count">12 <img class="heart" src="../public/icones/like-filled.svg" alt="coeur"></div>
                        </div>
                    </li>
                    <li class="thumbnails"><a href=""><img class="thumbnails__img"
                                src="../public/Photos/Mimi/Event_SeasideWedding.jpg" alt=""></a>
                        <div class="thumbnails__infos">
                            <h2 class="thumbnails__heading">Arc-en-ciel</h2>
                            <div class="likes-count">12 <img class="heart" src="../public/icones/like-filled.svg" alt="coeur"></div>
                        </div>
                    </li>
                    <li class="thumbnails"><a href=""><img class="thumbnails__img"
                                src="../public/Photos/Mimi/Portrait_Background.jpg" alt=""></a>
                        <div class="thumbnails__infos">
                            <h2 class="thumbnails__heading">Arc-en-ciel</h2>
                            <div class="likes-count">12 <img class="heart" src="../public/icones/like-filled.svg" alt="coeur"></div>
                        </div>
                    </li>
                    <li class="thumbnails"><a href=""><img class="thumbnails__img"
                                src="../public/Photos/Mimi/Event_SeasideWedding.jpg" alt=""></a>
                        <div class="thumbnails__infos">
                            <h2 class="thumbnails__heading">Arc-en-ciel</h2>
                            <div class="likes-count">12 <img class="heart" src="../public/icones/like-filled.svg" alt="coeur"></div>
                        </div>
                    </li>
                    <li class="thumbnails"><a href=""><img class="thumbnails__img"
                                src="../public/Photos/Mimi/Portrait_Wednesday.jpg" alt=""></a>
                        <div class="thumbnails__infos">
                            <h2 class="thumbnails__heading">Arc-en-ciel</h2>
                            <div class="likes-count">12 <img class="heart" src="../public/icones/like-filled.svg" alt="coeur"></div>
                        </div>
                    </li>
    
                </ul>
                <div class="likes-price">
                        <div class="total-likes">297 081<img class="heart" src="../public/icones/like-filled.svg" alt="coeur"></div>
                        <div class="cost-by-day">300€/jour</div>
                    
                </div>

            </section>
            <button class="fixed-contact modal-btn">Contactez-moi</button>
        </main>


    </div>
</body>
<script type="module" src="./portfolio.js"></script>

</html>