<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="photographer-page">FishEye - Portfolio</title>
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <div class="photographer-page-wrapper">
        <header class="header__portfolio">

            <a href="../index.html" class="logo">FishEye</a>
            <div class="header__portfolio--wrapper">
                <div class="photographers__infos--portfolio">
                    <h1 class="photographers__name">Mimi Keel</h1>
                    <p class="localisation">London, UK</p>
                    <p class="mojo">Voir le beau dans le quotidien</p>
                    <nav class="tags photographer__tags">
                        <ul>
                            <li><a href="">#portrait</a></li>
                            <li><a href="">#events</a></li>
                            <li><a href="">#travel</a></li>
                            <li><a href="">#animals</a></li>
                        </ul>
                    </nav>
                    <button class="btn-contact modal-btn">Contactez-moi</button>
                </div>

                <img class="photographers__portrait" src="../public/Sample Photos/Photographers ID Photos/MimiKeel.jpg"
                    alt="">
            </div>
            <div class="dropdown-wrapper">
                <span>Trier par </span>
                <nav class="sortBy" aria-label="Trier par">
                    <ul id="menubar" role="menubar" aria-label="Trier par">
                        <li><a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="0">
                                Popularité</a>
                        </li>
                        <li><a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1">
                                Date</a>
                        </li>
                        <li><a role="menuitem" aria-haspopup="true" aria-expanded="false" href="#" tabindex="-1">
                                Titre</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>


        </main>


    </div>
</body>
<script src="./portfolio.js"></script>

</html>